<p><strong>Table 1.1</strong> The Terminologies and definitions of sepsis</p>
<table>
<colgroup>
<col style="width: 28%" />
<col style="width: 71%" />
</colgroup>
<thead>
<tr class="header">
<th><strong>Term</strong></th>
<th><strong>Definition</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Infection</td>
<td>The invasion of an organism by a pathogen that elicits a pro-inflammatory response</td>
</tr>
<tr class="even">
<td>Sepsis</td>
<td>An extremely dysregulated immune response from the host in response to infection.</td>
</tr>
<tr class="odd">
<td>Onset of Sepsis</td>
<td>Observation of dysfunction in a new organ, away from the original site of infection</td>
</tr>
<tr class="even">
<td>Sequential Organ Failure Assessment score (SOFA score)</td>
<td>The SOFA score is used to track a patient’s status by determining the extent and severity of a patient’s organ function over time. It uses data from the Cardiovascular, respiratory, hepatic, renal, and neurological organ systems for calculation.</td>
</tr>
<tr class="odd">
<td>Rapid bedside organ dysfunction score – qSOFA</td>
<td>A quick test that suggests potential Organ dysfunction if at least two of the following is present:</td>
</tr>
<tr class="even">
<td>Altered Mental Status – Glasgow Coma Scale ≤ 14</td>
<td></td>
</tr>
<tr class="odd">
<td>———————————————–</td>
<td></td>
</tr>
<tr class="even">
<td>Systolic Blood Pressure ≤ 100 mmH</td>
<td></td>
</tr>
<tr class="odd">
<td>Respiratory Rate 22 breaths per min</td>
<td></td>
</tr>
</tbody>
</table>
<p><br> | | | | — | — | | Organ Dysfunction | A significant change in the SOFA score by at least two points at a site remote from infection, | | Septic Shock | A state of sepsis that elicits a cascade of profound changes in the vasculature, metabolism, cellular, and organ functions. | | PICS | | | Critically ill patient | Admission to the ICU &gt; 14 days | | ———————- | —————————— | | Persistent inflammation | CRP &gt; 50 μg/dL | | | Retinol binding protein &lt; 1 mg/dL | | Immunosuppression | Total lymphocyte count &lt; 0.80 ×109/L | | Catabolic state | Serum albumin &lt; 3.0 g/dL | | | Creatinine height index &lt; 80% | | | Weight loss &gt; 10% ‘or’ BMI &lt; 18 during hospitalization | | | | | :— | :— |</p>
